body {
  margin: 0;
  font-family: "Red Hat Display";
}
.container {
  max-width: 1551px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
.header {
  padding: 10px;
  background: #000;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__location {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__location1 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: Museo Sans Cyrl;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header__location2 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: Museo Sans Cyrl;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__nav-link {
  color: #fff;
  font-family: Museo Sans Cyrl;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 1004px) {
  .header__nav {
    display: none;
  }
  .header__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 590px) {
  .header {
    display: none;
  }
}
.hero {
  background: #fff;
}
.hero__header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__header__content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero__header__content__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__header__content__logo-text {
  text-align: center;
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__header__content__nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.hero__header__content__nav__text {
  display: flex;
  align-items: center;
  gap: 40px;
}
.hero__header__content__nav-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hero__header__content__nav__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  background: #fff;
}
.hero__header__content__nav__search-text {
  color: #818181;
  font-family: Museo Sans Cyrl;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 10px;
}
.hero__header__content__nav__search-btn {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
  color: #000;
  text-align: center;
  font-family: Museo Sans Cyrl;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 156px;
  height: 45px;
  background: #ffd634;
}
.hero__header__content__contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero__header__content__contacts__timework-text {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 5px;
}
.hero__header__content__contacts__numbers {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 5px;
}
.hero__header__content__email {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.hero__header__content__email-text {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__header__content__email-btn {
  color: #fff;
  text-align: center;
  font-family: Museo Sans Cyrl;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 223px;
  height: 44px;
  background: #ff7a1b;
  border-radius: 6px;
}
@media screen and (max-width: 1600px) {
  .hero__header__content__nav-line {
    display: none;
  }
  .hero__header__content__nav__search-phone {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .hero__header__content__logo {
    display: none;
  }
  .hero__header__content__contacts {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .hero__header__content__email {
    display: none;
  }
  .hero__header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    padding: 20px;
  }
  .hero__header__content__nav__text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .hero__header__content__nav-line {
    display: inline-block;
  }
  .hero__header__content__nav__search-phone {
    display: inline-block;
  }
  .hero__header__content__nav__text {
    display: none;
  }
  .hero__header__content__nav {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
  }
  .hero__header__content__nav__search-btn {
    display: none;
  }
}
.hero__header2 {
  padding: 20px;
}
.hero__header2__nav {
  width: 100%;
  border: 1px solid #e8e8e8;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__header2__nav-link1 {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ffd634;
  width: 268px;
  height: 50px;
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.categories {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ffd634;
  width: 100%;
  height: 50px;
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__header2__nav-link {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px;
}
@media screen and (max-width: 1600px) {
  .categories {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .hero__header2__nav {
    display: none;
  }
  .hero__header2 {
    padding: 0;
  }
}
@media screen and (max-width: 400px) {
  .categories {
    display: flex;
    align-items: center;
  }
}
.hero__block {
  padding: 20px;
}
.hero__info {
  position: relative;
  background: url(/images/image\ 59.png) no-repeat center/cover;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 100px;
  overflow: hidden;
}

.hero__info::after {
  content: "";
  width: 761px;
  height: 761px;
  background: #fff;
  position: absolute;
  right: -250px;
  top: -100px;
  z-index: 1;
  border-radius: 50%;
}
.hero__info-text {
  color: #fff;
  font-family: Museo Sans Cyrl;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 124.368%;
}
.hero__info__house {
  position: relative;
  z-index: 3;
  right: 10px;
}

.hero__info__line {
  bottom: 50px;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  max-width: 100%;
  height: 66px;
  background: #ff7a1b;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 100px;
}
.hero__info__line-text1 {
  color: #fff;
  font-family: Museo Sans Cyrl;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 97.368%;
}
.hero__info__line-text2 {
  color: #fff;
  font-family: Museo Sans Cyrl;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 97.368%;
}
@media screen and (max-width: 800px) {
  .hero__block {
    margin: 0;
    padding: 0;
  }
  .hero__info {
    background: #6e9425;
  }
  .hero__info::after {
    display: none;
  }
  .hero__info__house {
    display: none;
  }
  .hero__info__line {
    display: none;
  }
  .hero__info {
    padding: 10px;
  }
}
.hero__content img {
  width: 100%;
  object-fit: cover;
}
.hero__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero__content__titles {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.hero__content__title {
  display: flex;
  align-items: center;
}
.hero__content__title-2 {
  display: flex;
  align-items: center;
}
.title1-text {
  display: flex;
  align-items: center;
  color: #2d170c;
  font-family: Museo Sans Cyrl;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 126.5%;
  letter-spacing: -0.21px;
}
.hero__content__title img {
  max-width: 74.48px;
}
.hero__content__title-2 img {
  max-width: 74.48px;
}
@media screen and (max-width: 600px) {
  .hero__content__title-2 {
    display: none;
  }
  .hero__content__titles {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .hero__content__title {
    display: flex;
    flex-direction: column;
  }
  .hero__content__title img {
    max-width: 123px;
  }
}
.hero__title {
  padding: 20px;
}
.hero__title-logo {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__title__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
}
.hero__title__card1 {
  padding: 20px;
  grid-row: 1/4;
  border-radius: 6px;
  background: #fff7d9;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card1-text {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card1__texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card1__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.card1__nav2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.card1__nav-link {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__title__card2 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 6px;
  background: #fff7d9;
}
.hero__title__card3 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 6px;
  background: #fff7d9;
}
.hero__title__card4 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 6px;
  background: #fff7d9;
}
.hero__title__card2 img {
  max-width: 100%;
  height: 96px;
  object-fit: cover;
}
.hero__title__card3 img {
  max-width: 100%;
  height: 96px;
  object-fit: cover;
}
.hero__title__card4 img {
  max-width: 100%;
  height: 96px;
  object-fit: cover;
}
.card2-text {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card2__nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card2__nav-link {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card2__content {
  display: flex;
  flex-direction: column;
}
.hero__title__card5 {
  padding: 20px;
  border-radius: 6px;
  background: #fff7d9;
  display: flex;
  justify-content: space-between;
}

.card5__logo {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card5__nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card5__nav-link {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__title__card6 {
  padding: 20px;
  border-radius: 6px;
  background: #fff7d9;
  display: flex;
  justify-content: space-between;
}
.card-5-6 {
  display: flex;
  flex-direction: column;
  grid-column: 3;
  grid-row: 1/4;
  gap: 50px;
}
@media screen and (max-width: 1200px) {
  .card1__nav {
    display: none;
  }
  .card1__nav2 {
    display: none;
  }
  .hero__title__card1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    grid-row: 1;
    align-items: center;
    padding: 10px;
    background: #efeeec;
  }
  .hero__title__card1 img {
    width: 52.772px;
    height: 29.822px;
  }
  .hero__title__card2 img {
    width: 52.772px;
    height: 29.822px;
  }
  .hero__title__card3 img {
    width: 52.772px;
    height: 29.822px;
  }
  .hero__title__card4 img {
    width: 52.772px;
    height: 29.822px;
  }
  .hero__title__card5 img {
    width: 52.772px;
    height: 29.822px;
  }
  .hero__title__card6 img {
    width: 52.772px;
    height: 29.822px;
  }
  .card2__nav {
    display: none;
  }
  .hero__title__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .card5__nav {
    display: none;
  }
  .hero__title__card2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 2;
    background: #efeeec;
  }
  .hero__title__card3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 3;
    background: #efeeec;
  }
  .hero__title__card4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #efeeec;
  }
  .hero__title__card5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 2;
    grid-column: 2;
    background: #efeeec;
  }
  .hero__title__card6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #efeeec;
  }
  .card-5-6 {
    grid-row: 2/4;
    grid-column: 2;
    gap: 32px;
  }
  .hero__title-logo {
    text-align: center;
  }
}
.hero__center {
  padding: 20px;
}
.hero__center-2 {
  padding: 20px;
}
.hero__center__logo {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__center__nav {
  max-width: 1552px;
  height: 60px;
  display: flex;
  align-items: center;
}
.hero__center__nav-link {
  max-width: 160px;
  height: 60px;
  padding: 20px;
  color: #000;
  text-align: center;
  font-family: Museo Sans Cyrl;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__center__nav-link-1 {
  max-width: 160px;
  height: 60px;
  padding: 20px;
  color: #000;
  text-align: center;
  font-family: Museo Sans Cyrl;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__center__nav-link-2 {
  max-width: 160px;
  height: 60px;
  padding: 20px;
  color: #000;
  text-align: center;
  font-family: Museo Sans Cyrl;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__center__nav-link-3 {
  max-width: 160px;
  height: 60px;
  padding: 20px;
  color: #000;
  text-align: center;
  font-family: Museo Sans Cyrl;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__center__nav-link-4 {
  max-width: 160px;
  height: 60px;
  padding: 20px;
  color: #000;
  text-align: center;
  font-family: Museo Sans Cyrl;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__center__nav-link-5 {
  max-width: 160px;
  height: 60px;
  padding: 20px;
  color: #000;
  text-align: center;
  font-family: Museo Sans Cyrl;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero__center__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.hero__center__card1 {
  padding: 15px;
}
.card1__img__wrap img {
  width: 100%;
}
.card1__artikul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card1__artikul-text {
  color: #000;
  text-align: right;
  font-family: Museo Sans Cyrl;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.card1__title {
  width: 100%;
}
.card1__title-text {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 5px;
}
.card1__title__size {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card1__title__size-text {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 5px;
}
.card1__title__square {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card1__title__square-text {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 5px;
}
.card1__title__capacity {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card1__title__capacity-text {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 5px;
}
.card1__title__varanty {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card1__title__varanty-text {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 5px;
}
.card__footer__titles {
  display: flex;
  flex-direction: column;
}
.card1__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card1__footer__prices {
  display: flex;
}
.card1__footer__oldprice {
  color: #bbb;
  font-family: Museo Sans Cyrl;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: strikethrough;
  margin-bottom: 0;
}
.card1__footer__sale {
  color: #2b150d;
  font-family: Museo Sans Cyrl;
  font-size: 11.021px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  padding: 4.574px 5.511px;
  align-items: flex-start;
  gap: 7.872px;
  background: #ffd634;
  margin-bottom: 0;
}
.card1__footer__newprice {
  color: #ff3838;
  font-family: Museo Sans Cyrl;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.price {
  margin: 0;
}
.card1__footer-btn {
  color: #2b150d;
  text-align: center;
  font-family: Museo Sans Cyrl;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 131px;
  height: 51px;
  background: #ffd634;
  border-radius: 4px;
}
.hero__center__card2 {
  padding: 15px;
}
.hero__center__card3 {
  padding: 15px;
}
.hero__center__card4 {
  padding: 15px;
}
.hero__center__card5 {
  padding: 15px;
}
.hero__center__card6 {
  padding: 15px;
}
.hero__center__card7 {
  padding: 15px;
}
.hero__center__card8 {
  padding: 15px;
}
.hero__center__card9 {
  padding: 15px;
}
.hero__center__card10 {
  padding: 15px;
}
@media screen and (max-width: 1330px) {
  .hero__center__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1100px) {
  .hero__center__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .hero__center__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .hero__center__logo {
    text-align: center;
  }
  .hero__center__nav-link-5 {
    display: none;
  }
  .hero__center__nav-link-4 {
    display: none;
  }
  .hero__center__nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card1__footer-btn {
    width: 100px;
  }
}
.grade {
  padding: 30px;
  background: #fff;
}

.grade__header-logo {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.grade__content {
  padding: 45px 60px;
  background: #f9f8f3;
}
.grade__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.content__card1 {
  max-width: 468px;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
  padding: 25px;
}
.content__card2 {
  max-width: 468px;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
  padding: 25px;
}
.content__card3 {
  max-width: 468px;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
  padding: 25px;
}
.card1__header {
  display: flex;
  justify-content: space-between;
}

.card1__header__name {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 97.368%;
  margin: 0;
}
.card1__header__date {
  color: #bbb;
  font-family: Museo Sans Cyrl;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 97.368%;
}

.card1__header__rate {
  color: #2b150d;
  text-align: right;
  font-family: Museo Sans Cyrl;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 97.368%;
  margin: 0;
}

.card1__center__text {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 144%;
}
.card1__center__link {
  color: #ff7a1b;
  font-family: Museo Sans Cyrl;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 144%;
  text-decoration-line: underline;
}
.card1__footer__button {
  color: #fff;
  text-align: center;
  font-family: Museo Sans Cyrl;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 222px;
  height: 39px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  background: #ff7a1b;
}
.card1__footer__button-to-center {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1330px) {
  .content__card3 {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .content__card2 {
    display: none;
  }
  .grade__header-logo {
    text-align: center;
  }
  .card1__footer__button {
    display: none;
  }
  .card1__center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.hero__footer {
  padding: 30px;
}
.hero__footer__info {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.hero__footer__info__text1 {
  margin: 0;
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__footer__info__line {
  max-width: 732px;
  height: 2px;
  background: #ff7a1b;
}
.hero__footer__info__text2 {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 158.5%;
}
.hero__footer__info__vector {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.hero__footer__info__text3 {
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.5%;
  margin: 5px;
}
.hero__footer__info__text4 {
  padding-left: 64px;
  color: #000;
  font-family: Museo Sans Cyrl;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 158.5%;
  margin: 0;
}
.hero__footer__info__image {
  border-radius: 6px;
}
@media screen and (max-width: 1400px) {
  .hero__footer__info {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero__footer__info__header {
    padding: 10px;
    text-align: center;
  }
  .hero__footer__info__line {
    display: none;
  }
  .hero__footer__info__texts {
    text-align: center;
  }
}
